/* Bulma replacements */
.notification, .box, .button, .input, .textarea, .select select {
    border-radius: 0;
}
.container {
    padding: 2%;
}
a.hover, .navbar-item, button, .menu-list a, .select select, div.select::after {
    transition: 0.2s;
}
a.hover:hover, .navbar-item:hover, button:hover {
    filter: contrast(110%);
}
.navbar-item {
    font-weight: 500;
}
.navbar {
    background-color: inherit;
}
.tabs li {
    font-weight: 500;
}
.tabs li.is-active a {
    border-bottom-color: red;
    color: inherit;
}
/* Colors */
.navbar--gradient {
    background: linear-gradient(to top, silver, lightgrey);
}
.navbar-item:hover {
    color: black !important;
}
.button.is-link {
    background: linear-gradient(to top, silver, lightgrey);
    color: black;
}
.button.is-link:hover {
    background-color: silver;
    color: black;
}

/* Override Bulma styles to allow Markdown to style properly */
.article__preview-content h1 {
    font-size: 2rem;
    font-weight: 500;
}
.article__preview-content h2 {
    font-size: 1.75rem;
    font-weight: 500;
}
.article__preview-content h3 {
    font-size: 1.5rem;
    font-weight: 500;
}
.article__preview-content h4 {
    font-size: 1.25rem;
    font-weight: 500;
}

/* Helpers */
.image-loading {
    filter: blur(10px);
}
.profile-image {
    border-radius: 50%;
    max-width: 400px;
    height: auto;
    border: 10px solid white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    transition: 0.25s;
}
.is-horizontal-center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.is-fullheight {
    height: 100%;
}
hr.black {
    border: 1px solid darkgrey;
    margin-left: 0;
    margin-right: 0;
}